@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*========================================
設定
========================================*/
/*========================================
base   デフォルト設定
========================================*/
html,
body {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.item {
  text-decoration: none;
  color: black; }

#header {
  height: 90px;
  text-align: center; }
  #header h1 {
    color: #6600FF;
    font-size: 28px;
    margin-top: 10px; }

.p-createMenu {
  width: 100%;
  display: flex;
  margin-bottom: 80px; }
  .p-createMenu h1 {
    font-size: 28px;
    margin: auto auto auto 5%; }

.p-task {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  margin-bottom: 70px; }

.p-modalWindow {
  display: none;
  z-index: 1;
  position: absolute;
  top: 40%;
  width: 50%;
  min-height: 400px;
  margin: auto;
  background: white;
  border-radius: 2%;
  box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 30px; }
  .p-modalWindow h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: auto; }

.c-addMenu {
  font-family: FontAwesome;
  margin-left: auto; }
  .c-addMenu .fa-plus-circle {
    color: #FF0066; }
  .c-addMenu:hover {
    cursor: pointer; }

.fa-check-circle, .fa-times-circle, .fa-edit {
  font-family: FontAwesome;
  color: #ADD8E6; }
  .fa-check-circle:hover, .fa-times-circle:hover, .fa-edit:hover {
    cursor: pointer; }

.c-menu__check {
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto; }

.c-menu__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px; }

.c-menu__date {
  display: inline; }

.c-menu__contents {
  min-height: 80px; }

.c-menu__body, .c-menu__editText {
  font-size: 18px;
  width: 430px;
  border: none;
  background: #EEEEEE; }
  .c-menu__body p, .c-menu__editText p {
    line-height: 2.3em; }

.c-menu__delete {
  width: 40px;
  height: 40px;
  margin-left: 2%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; }

.c-menu__edit {
  text-align: right; }

.c-modalHead {
  display: flex;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto; }
  .c-modalHead__btn {
    background: #6600FF;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em; }

.c-modalBody textarea {
  width: 100%;
  height: 40px;
  border: 0.1px solid;
  margin: 20px auto 0 auto;
  font-size: 28px; }

.c-modalHead__btn {
  cursor: pointer; }

.c-modal__colorFirst,
.c-modal__colorSecond,
.c-modal__colorThird,
.c-modal__colorFourth,
.c-modal__colorFifth {
  background: #FF0066; }

body {
  background: #EEEEEE; }

#main {
  width: 50%;
  min-height: 600px;
  margin: 100px auto; }
